<script setup>
import { computed } from 'vue'
import { useMailingsStore } from '../../store/mailings'
import Scrollbar from '@/components/Scrollbar'
import MailingsActiveList from '../../components/MailingsActiveList'

const mailingsStore = useMailingsStore()

const mailings = computed(() => mailingsStore.activeMailings.data.list)

const stopMailingIsLoading = computed(() => mailingsStore.stopMailing.isLoading)
</script>

<template>
  <div class="mailings-active">
    <div v-if="stopMailingIsLoading" class="mailings-active__loader">
      <div class="mailings-active__loader-item"></div>
    </div>

    <div
      class="mailings-active__content"
      :class="{
        'mailings-active__content--loading': stopMailingIsLoading,
      }"
    >
      <Scrollbar v-if="mailings.length">
        <MailingsActiveList
          class="mailings-active__list"
          :mailings="mailings"
        />
      </Scrollbar>

      <div v-else class="mailings-active__empty">Активных рассылок нет</div>
    </div>
  </div>
</template>

<style lang="scss">
.mailings-active {
  height: 100%;
  border-left: 1px solid rgba($white, 0.066);
  border-right: 1px solid rgba($white, 0.066);
  padding: 36px 48px 0 48px;
  position: relative;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    cursor: not-allowed;
    z-index: 100;
  }

  &__loader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader infinite 1s ease-in-out;
  }

  &__empty {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &__content {
    transition: opacity 0.25s ease-in-out;

    &--loading {
      opacity: 0.5;
    }
  }
}

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
