<script setup>
import { useRouter } from 'vue-router'
import UiButton from '@/ui/UiButton'

const router = useRouter()

const clickHandler = () => {
  router.push('/')
}
</script>

<template>
  <div class="access-denied">
    <div class="access-denied__code">403</div>
    <p class="access-denied__descr">Опс... <br />Доступ запрещен</p>
    <div class="access-denied__button">
      <UiButton title="На главную" @click="clickHandler()" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.access-denied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &__code {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    font-size: 263px;
    line-height: 153.5%;
    text-align: center;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.1);
    mix-blend-mode: screen;
    backdrop-filter: blur(26px);
  }

  &__descr {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 153.5%;
    text-align: center;
    color: #ffffff;
  }

  &__button {
    margin-top: 150px;
  }
}
</style>
