html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    -webkit-tap-highlight-color: transparent;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: $background;
  color: $white;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
