<template>
  <div class="loading-layout">
    <div class="loading-layout__loader"></div>
  </div>
</template>

<style lang="scss" scoped>
.loading-layout {
  position: relative;
  width: 100%;
  height: 100vh;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader infinite 1s ease-in-out;
  }
}

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
