<script setup>
import { computed, ref } from 'vue'

const props = defineProps({
  type: {
    type: String,
    default: 'text',
    validator: (prop) => ['text', 'password'].includes(prop),
  },
  placeholder: {
    type: String,
    default: '',
  },
  error: {
    type: Boolean,
    default: false,
  },
  value: {
    type: String,
    required: true,
  },
  center: {
    type: Boolean,
    default: false,
  },
  max: {
    type: Number,
    default: null,
  },
})

const emits = defineEmits(['update:value'])

const input = ref(null)

const cssClasses = computed(() => {
  return {
    ['ui-input--error']: props.error,
    ['ui-input--center']: props.center,
  }
})

const inputHandler = (event) => {
  if (props.max) {
    event.target.value = event.target.value.slice(0, props.max)
  }

  emits('update:value', event.target.value)
}
</script>

<template>
  <div class="ui-input" :class="cssClasses">
    <input
      ref="input"
      :type="type"
      :value="value"
      :placeholder="placeholder"
      class="ui-input__input"
      @input="inputHandler($event)"
    />
  </div>
</template>

<style lang="scss">
.ui-input {
  position: relative;
  width: 100%;

  &--error {
    .ui-input__input {
      border-color: #2965ff;
    }
  }

  &--center {
    .ui-input__input {
      text-align: center;
    }
  }

  &__input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60px;
    padding: 0 12.5px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 11px;
    background: transparent;
    outline: 0;
    font-family: 'Mulish';
    color: #ffffff;
    font-size: 15px;
    line-height: 153.5%;
    font-weight: 600;
    transition: border 0.2s linear;

    &::placeholder {
      font-family: 'Mulish';
      color: rgba(255, 255, 255, 0.33);
      font-size: 15px;
      line-height: 153.5%;
      font-weight: 600;
    }

    &:focus {
      border-color: #ffffff;
    }
  }
}
</style>
