<script setup>
import { computed, watch } from 'vue'
import router from '@/router'
import { AppService } from './services'
import { useUserStore } from '@/stores/user'
import { useAppStore } from './store/app'
import Sidebar from './components/Sidebar'
import DefaultLayout from '@/layouts/DefaultLayout'
import MailingsLayout from '@/layouts/MailingsLayout'
import VerificationLayout from '@/layouts/VerificationLayout'
import SearchLayout from '@/layouts/SearchLayout'
import AuthLayout from '@/layouts/AuthLayout'
import LoadingLayout from '@/layouts/LoadingLayout'

const userStore = useUserStore()
const appStore = useAppStore()

const appIsLoading = computed(() => appStore.app.isLoading)

const currentRoute = computed(() => router?.currentRoute?.value || {})

const component = computed(() => {
  const routeLayout = currentRoute?.value?.meta?.layout

  if (routeLayout === 'auth') {
    return AuthLayout
  }

  if (appIsLoading.value) {
    return LoadingLayout
  } else {
    switch (currentRoute?.value?.meta?.layout) {
      case 'mailings':
        return MailingsLayout
      case 'verification':
        return VerificationLayout
      case 'search':
        return SearchLayout
      case 'default':
        return DefaultLayout
      default:
        return null
    }
  }
})

const hideSidebar = computed(
  () =>
    !currentRoute.value.meta?.hideSidebar &&
    currentRoute.value.meta?.hideSidebar !== undefined &&
    !appIsLoading.value
)

const accessToken = computed(() => userStore.tokens.data?.access?.token || null)

const username = computed(() => userStore.userInfo.data?.login)

const userRole = computed(() => userStore.userInfo.data?.role)

watch(
  accessToken,
  async (token) => {
    if (token !== null) {
      await AppService.init()

      setInterval(async () => {
        await AppService.update()
      }, 30000)
    }
  },
  { immediate: true }
)

watch(
  userRole,
  (role) => {
    if (
      role &&
      Object.keys(currentRoute.value).length &&
      currentRoute.value.name
    ) {
      AppService.pageAccessController(currentRoute.value, role)
    }
  },
  { immediate: true }
)

watch(
  currentRoute,
  (route) => {
    if (
      userRole.value &&
      Object.keys(route).length &&
      currentRoute.value.name
    ) {
      AppService.pageAccessController(route, userRole.value)
    }
  },
  { immediate: true }
)
</script>

<template>
  <div class="app">
    <div v-if="hideSidebar" class="app__sidebar">
      <Sidebar :username="username" />
    </div>

    <div
      class="app__content"
      :class="{ 'app__content--without-sidebar': !hideSidebar }"
    >
      <component :is="component" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.app {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;

  &__sidebar {
    width: 310px;
    height: 100%;
  }

  &__content {
    width: calc(100% - 310px);
    height: 100%;

    &--without-sidebar {
      width: 100%;
    }
  }
}
</style>
