<script setup>
import { computed } from 'vue'
import { useMailingsStore } from '../../store/mailings'
import Scrollbar from '@/components/Scrollbar'
import MailingsOnModerationList from '../../components/MailingsOnModerationList'

const mailingsStore = useMailingsStore()

const mailings = computed(() => mailingsStore.onModerationMailings.data.list)

const startMailingIsLoading = computed(
  () => mailingsStore.startMailing.isLoading
)

const rejectMailingIsLoading = computed(
  () => mailingsStore.rejectMailing.isLoading
)
</script>

<template>
  <div class="mailings-on-moderation">
    <div
      v-if="startMailingIsLoading || rejectMailingIsLoading"
      class="mailings-on-moderation__loader"
    >
      <div class="mailings-on-moderation__loader-item"></div>
    </div>

    <div
      class="mailings-on-moderation__content"
      :class="{
        'mailings-on-moderation__content--loading':
          startMailingIsLoading || rejectMailingIsLoading,
      }"
    >
      <Scrollbar v-if="mailings.length">
        <MailingsOnModerationList
          class="mailings-on-moderation__list"
          :mailings="mailings"
        />
      </Scrollbar>

      <div v-else class="mailings-on-moderation__empty">
        Рассылок на модерации нет
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.mailings-on-moderation {
  height: 100%;
  border-left: 1px solid rgba($white, 0.066);
  border-right: 1px solid rgba($white, 0.066);
  padding: 36px 48px 0 48px;
  position: relative;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    cursor: not-allowed;
    z-index: 100;
  }

  &__loader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader infinite 1s ease-in-out;
  }

  &__empty {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &__content {
    transition: opacity 0.25s ease-in-out;

    &--loading {
      opacity: 0.5;
    }
  }
}

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
