<script setup>
import ComplaintsListItem from '../ComplaintsListItem'

defineProps({
  complaints: {
    type: Array,
    required: true,
  },
})
</script>

<template>
  <div class="complaints-list">
    <div
      v-for="(complaint, idx) in complaints"
      :key="idx"
      class="complaints-list__item"
    >
      <ComplaintsListItem :complaint="complaint" />
    </div>
  </div>
</template>

<style lang="scss">
.complaints-list {
  width: 100%;
  height: calc(100vh - 135px);

  &__item {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }
}
</style>
