<template>
  <div class="auth-logo">
    <img
      src="@/assets/images/Logo.svg"
      alt="Redate админка"
      class="auth-logo__image"
    />
  </div>
</template>

<style lang="scss" scoped>
.auth-logo {
  width: 105px;

  &__image {
    width: 100%;
  }
}
</style>
