<script setup>
import { computed } from 'vue'
import { useComplaintsStore } from './store/complaints'
import Scrollbar from '@/components/Scrollbar'
import ComplaintsHeader from './components/ComplaintsHeader'
import ComplaintsList from './components/ComplaintsList'

const complaintsStore = useComplaintsStore()

const count = computed(() => complaintsStore.complaints.data.all || 0)

const complaints = computed(
  () =>
    complaintsStore.complaints.data.list
      .filter((complaint) => !complaint.deleted)
      .reverse() || []
)

const deleteComplaintIsLoading = computed(
  () => complaintsStore.deleteComplaint.isLoading
)
</script>

<template>
  <div class="complaints">
    <div v-if="deleteComplaintIsLoading" class="complaints__loader">
      <div class="complaints__loader-item"></div>
    </div>

    <div class="complaints__header">
      <ComplaintsHeader title="Жалобы на пользователей" :count="count" />
    </div>
    <div
      class="complaints__content"
      :class="{ 'complaints__content--loading': deleteComplaintIsLoading }"
    >
      <Scrollbar v-if="complaints.length">
        <ComplaintsList :complaints="complaints" class="complaints__list" />
      </Scrollbar>

      <div v-else class="complaints__empty">Жалоб нет</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.complaints {
  position: relative;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    cursor: not-allowed;
    z-index: 100;
  }

  &__loader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader infinite 1s ease-in-out;
  }

  &__content {
    margin-top: 20px;
    transition: opacity 0.25s ease-in-out;

    &--loading {
      opacity: 0.5;
    }
  }

  &__list {
    padding-right: 30px;
  }

  &__empty {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
