<template>
  <div class="auth-layout">
    <div class="auth-layout__animation-ball"></div>
    <div class="auth-layout__animation-ball right"></div>
    <div class="auth-layout__animation-center"></div>

    <div class="auth-layout__view">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
.auth-layout {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #1c1d21;

  &__animation-ball {
    width: 100px;
    height: 100px;
    background-color: rgb(43, 102, 251);
    border-radius: 70%;
    box-shadow: 0 0 90px 180px rgba(41, 102, 255), 0 0 150px 310px #2966ff57,
      0 0 210px 360px #2966ff1c;
    position: fixed;
    animation-name: verticalSlideLeft;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    left: -150px;

    &.right {
      left: unset;
      right: -150px;
      bottom: 0;
      animation-name: verticalSlideRight;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
  }

  &__animation-center {
    position: absolute;
    width: 849px;
    height: 849px;
    left: 50%;
    top: -207px;
    transform: translate(-50%, 0);
    background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
    opacity: 0.7;
    filter: blur(400px);
  }

  &__view {
    position: relative;
    z-index: 100;
    width: 100%;
  }
}

@keyframes verticalSlideLeft {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: 50%;
  }
}
@keyframes verticalSlideRight {
  from {
    margin-bottom: 5%;
  }
  to {
    margin-bottom: 50%;
  }
}
</style>
