<script setup>
import { computed } from 'vue'
import { useMailingsStore } from '../../store/mailings'
import Scrollbar from '@/components/Scrollbar'
import MailingsRejectedList from '../../components/MailingsRejectedList'

const mailingsStore = useMailingsStore()

const mailings = computed(() => mailingsStore.rejectedMailings.data.list)
</script>

<template>
  <div class="mailings-rejected">
    <div class="mailings-rejected__content">
      <Scrollbar v-if="mailings.length">
        <MailingsRejectedList
          class="mailings-rejected__list"
          :mailings="mailings"
        />
      </Scrollbar>

      <div v-else class="mailings-rejected__empty">
        Отклоненных рассылок нет
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.mailings-rejected {
  height: 100%;
  border-left: 1px solid rgba($white, 0.066);
  border-right: 1px solid rgba($white, 0.066);
  padding: 36px 48px 0 48px;
  position: relative;

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    cursor: not-allowed;
    z-index: 100;
  }

  &__loader-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loader infinite 1s ease-in-out;
  }

  &__empty {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &__content {
    transition: opacity 0.25s ease-in-out;

    &--loading {
      opacity: 0.5;
    }
  }
}

@keyframes loader {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
</style>
