<template>
  <div class="auth-block">
    <div class="auth-block__slot">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.auth-block {
  width: 100%;
  padding: 48px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0384) 0%,
    rgba(95, 133, 228, 0.05) 68.75%
  );
  border: 1px solid #2b66fb;
  box-shadow: 0px 32px 83px rgba(18, 34, 74, 0.5);
  border-radius: 24px;
}
</style>
