<script setup>
import { ref, watch, computed } from 'vue'
import { AuthService } from './services'
import { useAuthStore } from './store/auth'
import UiInput from '@/ui/UiInput'
import UiErrorMessage from '@/ui/UiErrorMessage'
import UiButton from '@/ui/UiButton'
import AuthLogo from './components/AuthLogo'
import AuthBlock from './components/AuthBlock'

const authStore = useAuthStore()

const login = ref('')
const password = ref('')

const error = ref(false)
const errorMessage = ref('')

const loginError = ref(false)
const passwordError = ref(false)

const authError = computed(() => authStore.auth.error)

const authIsLoading = computed(() => authStore.auth.isLoading)

watch(login, () => {
  if (login.value.length) {
    loginError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

watch(password, () => {
  if (password.value.length) {
    passwordError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

const clickHandler = async () => {
  if (!login.value.length) {
    loginError.value = true

    errorMessage.value = 'Введите логин'
    error.value = true

    return
  }

  if (!password.value.length) {
    passwordError.value = true

    errorMessage.value = 'Введите пароль'
    error.value = true

    return
  }

  await AuthService.auth(login.value, password.value)
}
</script>

<template>
  <div class="auth">
    <div class="auth__logo">
      <AuthLogo />
    </div>

    <h1 class="auth__logo-title">Админка</h1>

    <div class="auth__block">
      <AuthBlock>
        <h2 class="auth__title">Вход</h2>

        <div class="auth__input auth__input--indent-32">
          <UiInput
            v-model:value="login"
            placeholder="Логин"
            :error="loginError"
          />
        </div>

        <div class="auth__input">
          <UiInput
            v-model:value="password"
            placeholder="Пароль"
            type="password"
            :error="passwordError"
          />
        </div>

        <div v-if="error || authError?.status" class="auth__error">
          <UiErrorMessage :message="errorMessage || authError?.message" />
        </div>
      </AuthBlock>
    </div>

    <div class="auth__button">
      <UiButton
        title="Войти"
        size="big"
        :is-loading="authIsLoading"
        @click="clickHandler()"
      />
    </div>
  </div>
</template>

<style lang="scss">
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__logo {
    margin-top: 163px;
  }

  &__logo-title {
    display: inline-block;
    margin-top: 23px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 153.5%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__block {
    width: 100%;
    max-width: 422px;
    margin-top: 36px;
  }

  &__title {
    display: inline-block;
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    color: #ffffff;
    text-align: center;
  }

  &__input {
    margin-top: 16px;

    &--indent-32 {
      margin-top: 32px;
    }
  }

  &__error {
    width: 100%;
    margin-top: 16px;
  }

  &__button {
    margin-top: 36px;
  }
}
</style>
